<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="images/icon.ico" type="image/x-icon">
    <link href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Employee Form</title>
</head>
<body>
<div class="bg-white">
    <div class="shadow-m w-50 rounded-3 p-4 border mx-auto">
        <h2 class="text-center pb-3">Add new Employee</h2>

        <form class="mx-2" action="#" th:action="@{/employees/add}" th:object="${addEmployeeModel}" enctype="multipart/form-data"
            method="post">

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label" for="lastName">Nom</label>
                <div class="col-sm-10">
                    <input  class="form-control bg-light" type="text" th:field="*{lastName}" id="lastName" name="lastName" required
                            th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid' : ''">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label" for="firstName">Prenom</label>
                <div class="col-sm-10">
                    <input  class="form-control bg-light" type="text" th:field="*{firstName}" id="firstName" name="firstName" required
                            th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid' : ''">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label" for="birthdate">Date de naissance</label>
                <div class="col-sm-10">
                    <input  class="form-control bg-light" type="date" th:field="*{birthdate}" id="birthdate" name="birthdate" required
                            th:classappend="${#fields.hasErrors('birthdate')} ? 'is-invalid' : ''">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></span>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label" for="gender">Genre</label>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline" th:each="gender : ${T(com.example.prog4swa.model.Employee.Gender).values()}">
                        <input class="form-check-input" type="radio" name="gender" id="gender" th:value="${gender}" required>
                        <label class="form-check-label" th:text="${gender}" for="gender"></label>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="phoneNumber">Telephone 1</label>
                <div class="col-sm-10">
                    <input class="form-control bg-light" type="text" th:field="*{phoneNumber}" id="phoneNumber" name="phoneNumber" required
                           th:classappend="${#fields.hasErrors('phoneNumber')} ? 'is-invalid' : ''">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="additionalPhoneNumbers">Telephone 2</label>
                <div class="col-sm-10">
                    <input class="form-control bg-light" type="text" th:field="*{additionalPhoneNumbers}" id="additionalPhoneNumbers" name="additionalPhoneNumbers"
                           th:classappend="${#fields.hasErrors('additionalPhoneNumbers')} ? 'is-invalid' : ''">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('additionalPhoneNumbers')}" th:errors="*{additionalPhoneNumbers}"></span>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label" for="address">Address</label>
                <div class="col-sm-10">
                    <input  class="form-control bg-light" type="text" th:field="*{address}" id="address" name="address" required
                            th:classappend="${#fields.hasErrors('address')} ? 'is-invalid' : ''">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label" for="personalEmail">Email PS</label>
                <div class="col-sm-10">
                    <input  class="form-control bg-light" type="email" th:field="*{personalEmail}" id="personalEmail" name="personalEmail" required
                            th:classappend="${#fields.hasErrors('personalEmail')} ? 'is-invalid' : ''">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('personalEmail')}" th:errors="*{personalEmail}"></span>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label" for="professionalEmail">Email PRO</label>
                <div class="col-sm-10">
                    <input  class="form-control bg-light" type="email" th:field="*{professionalEmail}" id="professionalEmail" name="professionalEmail" required
                            th:classappend="${#fields.hasErrors('professionalEmail')} ? 'is-invalid' : ''">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('professionalEmail')}" th:errors="*{professionalEmail}"></span>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label" for="cinNumber">Numero CIN</label>
                <div class="col-sm-10">
                    <input  class="form-control bg-light" type="text" th:field="*{cinNumber}" id="cinNumber" name="cinNumber" required
                            th:classappend="${#fields.hasErrors('cinNumber')} ? 'is-invalid' : ''">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('cinNumber')}" th:errors="*{cinNumber}"></span>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label" for="cinIssuanceDate">Date de delivrance</label>
                <div class="col-sm-10">
                    <input  class="form-control bg-light" type="date" th:field="*{cinIssuanceDate}" id="cinIssuanceDate" name="cinIssuanceDate" required
                            th:classappend="${#fields.hasErrors('cinIssuanceDate')} ? 'is-invalid' : ''">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('cinIssuanceDate')}" th:errors="*{cinIssuanceDate}"></span>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label" for="cinIssuancePlace">Lieu de delivrance</label>
                <div class="col-sm-10">
                    <input  class="form-control bg-light" type="text" th:field="*{cinIssuancePlace}" id="cinIssuancePlace" name="cinIssuancePlace" required
                            th:classappend="${#fields.hasErrors('cinIssuancePlace')} ? 'is-invalid' : ''">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('cinIssuancePlace')}" th:errors="*{cinIssuancePlace}"></span>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label" for="position">Position</label>
                <div class="col-sm-10">
                    <input  class="form-control bg-light" type="text" th:field="*{position}" id="position" name="position" required
                            th:classappend="${#fields.hasErrors('position')} ? 'is-invalid' : ''">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('position')}" th:errors="*{position}"></span>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label" for="dependentChildren">Enfants à charge</label>
                <div class="col-sm-10">
                    <input  class="form-control bg-light" type="number" th:field="*{dependentChildren}" id="dependentChildren" name="dependentChildren">
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label" for="hireDate">Date d embauche</label>
                <div class="col-sm-10">
                    <input  class="form-control bg-light" type="date" th:field="*{hireDate}" id="hireDate" name="hireDate" required
                            th:classappend="${#fields.hasErrors('hireDate')} ? 'is-invalid' : ''">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('hireDate')}" th:errors="*{hireDate}"></span>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label" for="departureDate">Date de depart</label>
                <div class="col-sm-10">
                    <input  class="form-control bg-light" type="date" th:field="*{departureDate}" id="departureDate" name="departureDate"
                            th:classappend="${#fields.hasErrors('departureDate')} ? 'is-invalid' : ''">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('departureDate')}" th:errors="*{departureDate}"></span>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label" for="salary">Salaire</label>
                <div class="col-sm-10">
                    <input  class="form-control bg-light" type="number" th:field="*{salary}" id="salary" name="salary"
                            th:classappend="${#fields.hasErrors('salary')} ? 'is-invalid' : ''">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></span>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label" for="benefits">Benefices</label>
                <div class="col-sm-10">
                    <input  class="form-control bg-light" type="number" th:field="*{benefits}" id="benefits" name="benefits"
                            th:classappend="${#fields.hasErrors('benefits')} ? 'is-invalid' : ''">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('benefits')}" th:errors="*{benefits}"></span>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label" for="allowances">Indemnites</label>
                <div class="col-sm-10">
                    <input  class="form-control bg-light" type="number" th:field="*{allowances}" id="allowances" name="allowances"
                            th:classappend="${#fields.hasErrors('allowances')} ? 'is-invalid' : ''">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('allowances')}" th:errors="*{allowances}"></span>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label" for="socialSecurityContributions">Cotisations de sécurite sociale</label>
                <div class="col-sm-10">
                    <input  class="form-control bg-light" type="number" th:field="*{socialSecurityContributions}" id="socialSecurityContributions" name="socialSecurityContributions"
                            th:classappend="${#fields.hasErrors('salary')} ? 'is-invalid' : ''">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('socialSecurityContributions')}" th:errors="*{socialSecurityContributions}"></span>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label" for="taxableIncome">Revenu imposable</label>
                <div class="col-sm-10">
                    <input  class="form-control bg-light" type="number" th:field="*{taxableIncome}" id="taxableIncome" name="taxableIncome"
                            th:classappend="${#fields.hasErrors('taxableIncome')} ? 'is-invalid' : ''">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('taxableIncome')}" th:errors="*{taxableIncome}"></span>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label" for="taxRate">Taux d'imposition</label>
                <div class="col-sm-10">
                    <input  class="form-control bg-light" type="number" th:field="*{taxRate}" id="taxRate" name="taxRate"
                            th:classappend="${#fields.hasErrors('taxRate')} ? 'is-invalid' : ''">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('taxRate')}" th:errors="*{taxRate}"></span>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label" for="netIncome">Revenu net</label>
                <div class="col-sm-10">
                    <input  class="form-control bg-light" type="number" th:field="*{netIncome}" id="netIncome" name="netIncome"
                            th:classappend="${#fields.hasErrors('netIncome')} ? 'is-invalid' : ''">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('netIncome')}" th:errors="*{netIncome}"></span>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label" for="cnaps">Numero CNAPS</label>
                <div class="col-sm-10">
                    <input  class="form-control bg-light" type="text" th:field="*{cnaps}" id="cnaps" name="cnaps" required
                            th:classappend="${#fields.hasErrors('cnaps')} ? 'is-invalid' : ''">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('cnaps')}" th:errors="*{cnaps}"></span>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label" for="photo">Photo</label>
                <div class="col-sm-10">
                    <input class="form-control bg-light" type="file" th:field="*{photo}" id="photo" name="photo"
                           th:classappend="${#fields.hasErrors('photo')} ? 'is-invalid' : ''" accept="image/*">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('Photo')}" th:errors="*{Photo}"></span>
                </div>
            </div>

            <div class="row justify-content-around p-3">
                <div class="col-4">
                    <button type="submit" class="btn btn-success w-100 p-2" >Add</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-secondary w-100 p-2">
                        <a class="text-light text-decoration-none" href="/employees">Cancel</a>
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
<script src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>