<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link href = "css/styles.css" rel = "stylesheet"/>
        <title>Employees list</title>
    </head>
<body>
    <h1>Employees list</h1>
    <a href="/addEmployeeForm">Add new employee</a>
    <table>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>BirthDate</th>
        </tr>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.birthDate}"></td>
        </tr>
    </table>
</body>
</html>