<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Employee Details</title>
  </head>
  <body>

    <div style="margin: 10px;">
      <div style="display: flex;">
        <div style="flex-basis: 60%;">
          <img
            th:unless="${employeeDetails.photo == null || employeeDetails.photo.isEmpty()}"
            th:src="'data:image/png;base64,' + ${employeeDetails.photo}"
            alt="Identity photo"
            style="max-width: 300px;max-height: 400px;"
          />
          <span
            th:if="${employeeDetails.photo == null || employeeDetails.photo.isEmpty()}"
            >No photo</span
          >
        </div>
        <div>
          <h2 style="text-align: center">Fiche Employé</h2>
          <div>
            <div>
              <strong>Numéro Matricule:</strong>
              <span th:text="${employeeDetails.serialNumber}"></span>
            </div>
            <div>
              <strong>Nom:</strong>
              <span class="text-end" th:text="${employeeDetails.lastName}"></span>
            </div>
            <div>
              <strong>Prénom:</strong>
              <span th:text="${employeeDetails.firstName}"></span>
            </div>
            <div>
              <strong>Age:</strong>
              <span th:text="${age}"></span>
            </div>
            <div>
              <strong>Fonction:</strong>
              <span th:text="${employeeDetails.position}"></span>
            </div>
            <div>
              <strong>Date d'embauche:</strong>
              <span th:text="${employeeDetails.hireDate}"></span>
            </div>
            <div
              th:if="${employeeDetails.departureDate != null}"
            >
              <strong>Date de départ:</strong>
              <span th:text="${employeeDetails.departureDate}"></span>
            </div>
            <div>
              <strong>Numéro CNAPS:</strong>
              <span th:text="${employeeDetails.cnaps}"></span>
            </div>
          </div>
        </div>
      </div>

      <div style="margin-top: 50px;">
        <h4>Informations sur le salaire</h4>
        <p style="margin-left: 20px;">Salaire brute actuel: <span th:text="${employeeDetails.salary}"></span><span> Ariary / mois</span></p>
      </div>
    </div>

    <footer>
      <div style="border-top: 1px solid black;display: flex;text-align: center;">
        <div style="flex-basis: 30%;">
          <img
            th:src="'data:image/png;base64,' + ${company.logo}"
            width="30"
            alt="Company Logo"
            style="width: 100px;margin-top: 30px;"
          />
        </div>
        <div style="flex-basis: 35%;">
          <div>
            <h5 class="mt-2" th:text="${company.name}"></h5>
          </div>
          <div>
            <h5>NIF:</h5>
            <p th:text="${company.nif}"></p>
          </div>
          <div>
            <h5>STAT:</h5>
            <p th:text="${company.stat}"></p>
          </div>
        </div>
        <div>
          <div>
            <h5>Adresse de l'entreprise</h5>
            <p th:text="${company.address}"></p>
          </div>
          <div>
            <h5>Téléphones</h5>
            <p th:each="number: ${company.phoneNumbers}">
              <span th:text="${number}"></span>
            </p>
          </div>
          <div>
            <h5>Email de contact</h5>
            <p th:text="${company.email}"></p>
          </div>
        </div>
      </div>
    </footer>

    <script src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
  </body>
</html>
