<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="shortcut icon" href="images/icon.ico" type="image/x-icon">
        <title>Employees list</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Home</a>
                    <a class="nav-item nav-link" href="/employees">Employees List</a>
                </div>
            </div>
        </nav>
        <h2 class="p-3 text-center">Employees list</h2>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Serial Number</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Birthdate</th>
                    <th scope="col">More</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${employees}">
                    <td scope="row" th:text="${employee.serialNumber}"></td>
                    <td scope="row" th:text="${employee.firstName}"></td>
                    <td scope="row" th:text="${employee.lastName}"></td>
                    <td scope="row" th:text="${employee.birthdate}"></td>
                    <td scope="row">
                        <a class="link-info" th:href="@{/employees/{serialNumber}(serialNumber=${employee.serialNumber})}"
                        >more</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-secondary my-2 mx-2">
            <a class="text-light text-decoration-none" href="/employees/add">Add employee</a>
        </button>
    <script src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
    </body>
</html>