<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/styles.css">
        <link href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="shortcut icon" href="images/icon.ico" type="image/x-icon">
        <title>Employees list</title>
    </head>
    <body class="bg-light">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
            <img class="navbar-brand" th:src="'data:image/png;base64,' + ${company.logo}" width="30" alt="Company.ico"/>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/employees">List employees</a>
                </div>
                <div class="navbar-nav text-end">
                    <a class="nav-item nav-link" th:href="@{/logout}">Deconnexion</a>
                </div>
            </div>
        </nav>
        <div class="payslip">
            <h2 class="p-3 text-center">Employees list</h2>
            <form th:action="@{/employees}" method="get">
                <div class="d-flex justify-content-center">
                    <div class="mx-1 my-2">
                        <input class="form-control" type="text" name="lastName" placeholder="nom">
                    </div>
                    <div class="mx-1 my-2">
                        <input class="form-control" type="text" name="firstName" placeholder="prenom">
                    </div>
                    <div class="mx-1 my-2">
                        <select class="form-select" name="gender" aria-label="genre">
                            <option value=""></option>
                            <option th:each="gender : ${T(com.example.prog4swa.model.Employee.Gender).values()}" th:value="${gender}" th:text="${gender}"></option>
                        </select>
                    </div>
                    <div class="mx-1 my-2">
                        <input class="form-control" type="text" name="position" placeholder="fonction">
                    </div>
                    <div class="mx-1 my-2">
                        <input class="form-control" type="date" name="hireDate" placeholder="date d embauche">
                    </div>
                    <div class="mx-1 my-2">
                        <input class="form-control" type="date" name="departureDate" placeholder="date de depart">
                    </div>
                    <div class="mx-1 my-2">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th scope="col" class="col">
                        <div class="d-flex flex-row">
                            <span class="me-2">Id</span>
                            <div class="btn-group">
                                <a class="link-success" th:href="@{/employees(lastName=${param.lastName}, firstName=${param.firstName}, gender=${param.gender}, position=${param.position}, hireDate=${param.hireDate}, departureDate=${param.departureDate}, sort='id,asc')}">
                                    <i class="bi bi-caret-up-fill"></i>
                                </a>
                                <a class="link-success" th:href="@{/employees(lastName=${param.lastName}, firstName=${param.firstName}, gender=${param.gender}, position=${param.position}, hireDate=${param.hireDate}, departureDate=${param.departureDate}, sort='id,desc')}">
                                    <i class="bi bi-caret-down-fill"></i>
                                </a>
                            </div>
                        </div>
                    </th>                    <th scope="col" class="col">
                        <div class="d-flex flex-row">
                            <span class="me-2">Nom</span>
                            <div class="btn-group">
                                <a class="link-success" th:href="@{/employees(lastName=${param.lastName}, firstName=${param.firstName}, gender=${param.gender}, position=${param.position}, hireDate=${param.hireDate}, departureDate=${param.departureDate}, sort='lastName,asc')}">
                                    <i class="bi bi-caret-up-fill"></i>
                                </a>
                                <a class="link-success" th:href="@{/employees(lastName=${param.lastName}, firstName=${param.firstName}, gender=${param.gender}, position=${param.position}, hireDate=${param.hireDate}, departureDate=${param.departureDate}, sort='lastName,desc')}">
                                    <i class="bi bi-caret-down-fill"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="col">
                        <div class="d-flex flex-row">
                            <span class="me-2">Prenom</span>
                            <div class="btn-group">
                                <a class="link-success" th:href="@{/employees(lastName=${param.lastName}, firstName=${param.firstName}, gender=${param.gender}, position=${param.position}, hireDate=${param.hireDate}, departureDate=${param.departureDate}, sort='firstName,asc')}">
                                    <i class="bi bi-caret-up-fill"></i>
                                </a>
                                <a class="link-success" th:href="@{/employees(lastName=${param.lastName}, firstName=${param.firstName}, gender=${param.gender}, position=${param.position}, hireDate=${param.hireDate}, departureDate=${param.departureDate}, sort='firstName,desc')}">
                                    <i class="bi bi-caret-down-fill"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="col">
                        <div class="d-flex flex-row">
                            <span class="me-2">Genre</span>
                            <div class="btn-group">
                                <a class="link-success" th:href="@{/employees(lastName=${param.lastName}, firstName=${param.firstName}, gender=${param.gender}, position=${param.position}, hireDate=${param.hireDate}, departureDate=${param.departureDate}, sort='gender,asc')}">
                                    <i class="bi bi-caret-up-fill"></i>
                                </a>
                                <a class="link-success" th:href="@{/employees(lastName=${param.lastName}, firstName=${param.firstName}, gender=${param.gender}, position=${param.position}, hireDate=${param.hireDate}, departureDate=${param.departureDate}, sort='gender,desc')}">
                                    <i class="bi bi-caret-down-fill"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="col">
                        <div class="d-flex flex-row">
                            <span class="me-2">Fonction</span>
                            <div class="btn-group">
                                <a class="link-success" th:href="@{/employees(lastName=${param.lastName}, firstName=${param.firstName}, gender=${param.gender}, position=${param.position}, hireDate=${param.hireDate}, departureDate=${param.departureDate}, sort='position,asc')}">
                                    <i class="bi bi-caret-up-fill"></i>
                                </a>
                                <a class="link-success" th:href="@{/employees(lastName=${param.lastName}, firstName=${param.firstName}, gender=${param.gender}, position=${param.position}, hireDate=${param.hireDate}, departureDate=${param.departureDate}, sort='position,desc')}">
                                    <i class="bi bi-caret-down-fill"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="col">
                        <div class="d-flex flex-row">
                            <span class="me-2">Date d emboche</span>
                            <div class="btn-group">
                                <a class="link-success" th:href="@{/employees(lastName=${param.lastName}, firstName=${param.firstName}, gender=${param.gender}, position=${param.position}, hireDate=${param.hireDate}, departureDate=${param.departureDate}, sort='hireDate,asc')}">
                                    <i class="bi bi-caret-up-fill"></i>
                                </a>
                                <a class="link-success" th:href="@{/employees(lastName=${param.lastName}, firstName=${param.firstName}, gender=${param.gender}, position=${param.position}, hireDate=${param.hireDate}, departureDate=${param.departureDate}, sort='hireDate,desc')}">
                                    <i class="bi bi-caret-down-fill"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="col">
                        <div class="d-flex flex-row">
                            <span class="me-2">Date de depart</span>
                            <div class="btn-group">
                                <a class="link-success" th:href="@{/employees(lastName=${param.lastName}, firstName=${param.firstName}, gender=${param.gender}, position=${param.position}, hireDate=${param.hireDate}, departureDate=${param.departureDate}, sort='departureDate,asc')}">
                                    <i class="bi bi-caret-up-fill"></i>
                                </a>
                                <a class="link-success" th:href="@{/employees(lastName=${param.lastName}, firstName=${param.firstName}, gender=${param.gender}, position=${param.position}, hireDate=${param.hireDate}, departureDate=${param.departureDate}, sort='departureDate,desc')}">
                                    <i class="bi bi-caret-down-fill"></i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th scope="col">Voir plus</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee : ${employees}">
                    <td scope="row" th:text="${employee.id}"></td>
                    <td scope="row" th:text="${employee.lastName}"></td>
                    <td scope="row" th:text="${employee.firstName}"></td>
                    <td scope="row" th:text="${employee.gender}"></td>
                    <td scope="row" th:text="${employee.position}"></td>
                    <td scope="row" th:text="${employee.hireDate}"></td>
                    <td scope="row" th:text="${employee.departureDate}"></td>
                    <td scope="row">
                        <a class="link-info" th:href="@{/employees/{id}(id=${employee.id})}"
                        >Voir plus</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-around m-3">
            <div>
                <a class="btn btn-success" href="/employees/add">Add employee</a>
            </div>
            <div>
                <a class="btn btn-success"  th:href="@{/export/csv(lastName=${param.lastName}, firstName=${param.firstName}, gender=${param.gender}, position=${param.position}, hireDate=${param.hireDate}, departureDate=${param.departureDate}, sort=${param.sort})}">Exporter en CSV</a>
            </div>
        </div>

        <footer class="bg-dark text-white text-center p-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img th:src="'data:image/png;base64,' + ${company.logo}" width="30" alt="Company Logo"/>
                        <h5>Nom de l'entreprise</h5>
                        <p th:text="${company.name}"></p>
                    </div>
                    <div class="col-md-4">
                        <h5>Description de l'entreprise</h5>
                        <p th:text="${company.description}"></p>
                    </div>
                    <div class="col-md-4">
                        <h5>Slogan</h5>
                        <p th:text="${company.slogan}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Adresse</h5>
                        <p th:text="${company.address}"></p>
                    </div>
                    <div class="col-md-4">
                        <h5>Email de contact</h5>
                        <p th:text="${company.email}"></p>
                    </div>
                    <div class="col-md-4">
                        <h5>Telephones</h5>
                        <p th:text="${company.phoneNumber}"></p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
    </body>
</html>