<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/styles.css">
        <link href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="shortcut icon" href="images/icon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <title>Employee Sheet</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Home</a>
                    <a class="nav-item nav-link" href="/employees">Employees List</a>
                </div>
            </div>
        </nav>
        <h2 class="text-center p-3">Employee Sheet</h2>
        <div class="shadow-sm card mb-3 mx-auto" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4 bg-dark">
                    <img class="img-fluid rounded-start" th:unless="${employeeSheet.photo == null || employeeSheet.photo.isEmpty()}" th:src="'data:image/png;base64,' + ${employeeSheet.photo}" alt="Identity photo"/>
                    <span class="text-white text-center" th:if="${employeeSheet.photo == null || employeeSheet.photo.isEmpty()}">No photo</span>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">Details</h5>
                            </div>
                            <div class="text-right col">
                                <a class="link-success" th:href="@{/employees/edit/{id}(id=${employeeSheet.id})}">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </div>
                        </div>
                        <div class="mb-1">
                            <strong>Numero Matricule:</strong> <span th:text="${employeeSheet.serialNumber}"></span>
                        </div>
                        <div class="mb-1">
                            <strong>Nom:</strong> <span th:text="${employeeSheet.lastName}"></span>
                        </div>
                        <div class="mb-1">
                            <strong>Prenom:</strong> <span th:text="${employeeSheet.firstName}"></span>
                        </div>
                        <div class="mb-1">
                            <strong>Date de Naissance:</strong> <span th:text="${employeeSheet.birthdate}"></span>
                        </div>
                        <div class="mb-1">
                            <strong>Genre:</strong> <span th:text="${employeeSheet.gender}"></span>
                        </div>
                        <div class="mb-1">
                            <strong>Telephone:</strong>
                            <div th:each="number: ${employeeSheet.phoneNumbers}">
                                <span th:text="${number}"></span>
                            </div>
                        </div>
                        <div class="mb-1">
                            <strong>Adresse:</strong> <span th:text="${employeeSheet.address}"></span>
                        </div>
                        <div th:each="email: ${employeeSheet.emails}" class="mb-1">
                            <strong>Email:</strong> <span th:text="${email}"></span>
                        </div>
                        <div class="my-2">
                            <h6>CIN</h6>
                        </div>
                        <div class="mb-1">
                            <strong>Numero:</strong> <span th:text="${employeeSheet.cinNumber}"></span>
                        </div>
                        <div class="mb-1">
                            <strong>Date de delivrance:</strong> <span th:text="${employeeSheet.cinIssuanceDate}"></span>
                        </div>
                        <div class="mb-1">
                            <strong>Lieu de delivrance:</strong> <span th:text="${employeeSheet.cinIssuancePlace}"></span>
                        </div>
                        <div class="mb-1">
                            <strong>Fonction:</strong> <span th:text="${employeeSheet.position}"></span>
                        </div>
                        <div class="mb-1">
                            <strong>Enfant a charge:</strong> <span th:text="${employeeSheet.dependentChildren}"></span>
                        </div>
                        <div class="mb-1">
                            <strong>Date d emboche:</strong> <span th:text="${employeeSheet.hireDate}"></span>
                        </div>
                        <div th:if="${employeeSheet.departureDate != null}" class="mb-1">
                            <strong>Date de depart:</strong> <span th:text="${employeeSheet.departureDate}"></span>
                        </div>
                        <div class="mb-1">
                            <strong>CNAPS:</strong> <span th:text="${employeeSheet.cnaps}"></span>
                        </div>
                        <div class="my-2">
                            <button class="btn btn-success" type="button">
                                <a class="text-decoration-none text-light" th:href="@{/employees/payslip/{id}(id=${employeeSheet.id})}">Fiche de paye</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
    </body>
</html>