<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/styles.css">
  <link href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="images/icon.ico" type="image/x-icon">
  <title>Connexion</title>
</head>
<body>
<div class="bg-light d-flex flex-column justify-content-center align-items-center vh-100">
  <div class="shadow-sm border w-25 h-75 rounded d-flex flex-column justify-content-center align-items-center" id="welcome">
    <div class="text-center p-2">
      <h1 class="py-2">Veuiller vous connecter</h1>
      <form th:action="@{/login}" method="post">
        <div class="mb-3">
          <input class="form-control" type="text" name="userName" placeholder="Nom d utilisateur">
        </div>
        <div class="mb-3">
          <input class="form-control" type="password" name="password" placeholder="Mot de passe">
        </div>
        <div>
          <button class="btn btn-success" type="submit">Connection</button>
        </div>
      </form>
  </div>
</div>
<script src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>